.heading {
    margin-top: 3rem;
    font-size: 35px;
    color: white;
    text-decoration: #06fece underline;
    letter-spacing: 3px;
    word-spacing: 6px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.registerBtn {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #06fece;
    background-color: #1d242c;
    color: #06fece;
    padding: 10px 20px;
    font-weight: 700;
    font-size: large;
}

.registerBtn:hover {
    background-color: #06fece;
    color:#1d242c ;
}

.button-container {
    display: flex;
    justify-content: center;
}

.register-form {
    /* background-color: black; */
    border: 2px solid #06fece;
    width: 20vw;
    color: white;
    padding: 2rem;
    margin-top: 1rem;
    letter-spacing: 2px;
    word-spacing: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}